@font-face {
    font-family: 'Eras Bold ITC';
    src: url('../_data/fonts/Eras\ Bold\ ITC.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Eras Demi ITC';
    src: url('../_data/fonts/Eras\ Demi\ ITC.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Maoken Assorted Sans';
    src: url('../_data/fonts/MaokenAssortedSans-TC.ttf');
    font-weight: 400;
    unicode-range: U+4E00-9FFF;
    /*中文*/
}

body {
    width: 1920px;
    height: 1080px;
}

#background {
    width: 1920px;
    height: 1080px;
    position: absolute;
    background-image: url('../_data/img/background.png');
    z-index: -1;
}

/* 主要內容區域 */

#content {
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pick-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick-container {
    display: flex;
    gap: 20px;
}

.hexagon {
    width: 153px;
    height: 341px;
    position: relative;

    clip-path: polygon(50% 0%,
            100% 13%,
            100% 87%,
            50% 100%,
            0% 87%,
            0% 13%);

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover, cover, 650% 100%, cover;
    background-position: center, center, center, center;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Eras Bold ITC';
    color: white;
    margin-left: -10px;
    transition: 1s;
}

.picks {
    position: absolute;
    margin-left: 5px;
    font-size: 40px;
    transform: translateY(110px);
    filter: drop-shadow(2px 2px 4px #000000);
}

#blue_picks .hexagon {
    transform: translate(41px, 7px);
}

#red_picks .hexagon {
    transform: translate(-41px, -27px);
}

.hexagon.gray {
    filter: grayscale(100%);
}

/* Footer */

#footer {
    height: 188px;
    width: 1920px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* now playing */

#now-playing {
    position: absolute;
    left: 0px;
    height: 188px;
    width: 480px;
    font-family: 'Eras Demi ITC', 'Maoken Assorted Sans';
    font-size: 20px;
    text-align: center;
}

#np-text {
    position: absolute;
    left: 32px;
    top: 10px;
    font-family: 'Eras Demi ITC';
    font-size: 20px;
    color: white;
    filter: drop-shadow(2px 2px 4px #000000);
}

#np-identifier {
    position: absolute;
    left: 27px;
    top: 25px;
    font-family: 'Eras Bold ITC';
    font-size: 80px;
    color: #dddddd;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 8px #000000);
    transition: 0.2s;
}

.scroll-box {
    position: absolute;
    left: 30px;
    top: 125px;
    width: 520px;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-content {
    font-family: 'Eras Demi ITC', 'Maoken Assorted Sans';
    color: white;
    font-size: 40px;
    display: inline-block;
    will-change: transform;
    filter: drop-shadow(2px 2px 4px #000000);
    transition: 0.2s;
}

/* 右側按鈕區 */
#panel {
    position: absolute;
    right: 110px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-row {
    transform: translateY(-10px);
    display: flex;
    justify-content: left;
    gap: 6px;
}

.mode-btn {
    width: 70px;
    height: 30px;

    border-radius: 6px;
    border: 2px solid white;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Eras Bold ITC';
    font-weight: bold;
    font-size: 20px;
    color: black;

    cursor: pointer;
    transition: 0.4s;

    user-select: none;
}

#NM1 .mode-btn {
    border: 2px solid #2c75ff;
}

#NM2 .mode-btn {
    border: 2px solid #2c75ff;
}

#HD .mode-btn {
    border: 2px solid #f59e0b;
}

#HR .mode-btn {
    border: 2px solid #dc2626;
}

#DT .mode-btn {
    border: 2px solid #7c3aed;
}

.mode-btn.picked {
    background: gray;
    color: #444444;
    border: 2px solid #222222 !important;
}


/* 聊天室樣式 */

#chat-container {
    position: absolute;

    width: 740px;
    height: 183px;
    background: #222;

    border: 3px solid white;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    transition: ease-in-out 500ms;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: hidden;
}

#chat {
    width: 97%;
    height: 90%;
    overflow: hidden;
    font-family: "Maoken Assorted Sans", "Eras Demi ITC", sans-serif;
}


.chat {
    display: flex;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
}

.chatTime {
    width: 56px;
    min-width: 56px;
    color: rgb(90, 90, 90);
    margin-right: 6px;
    text-align: center;
}

.chatName {
    color: rgb(255, 255, 225);
    white-space: nowrap;
    width: max-content;
}

.chatText {
    color: #dddddd;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

/* header */

#header {
    width: 1920px;
    height: 172px;

    transition: ease-in-out 500ms;
    z-index: 1;
    letter-spacing: 0px;
    color: black;
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
}

#stage-name {
    font-family: 'Eras Bold ITC';
    position: absolute;
    width: 100%;
    top: 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    text-transform: none;
}

#blue-name {
    font-family: 'Eras Bold ITC', 'Maoken Assorted Sans';
    position: absolute;
    left: 150px;
    top: 33px;
    font-size: 44px;
    transition: ease-in-out 500ms;
    text-align: left;
    color: #9EB4DD;
}

#red-name {
    font-family: 'Eras Bold ITC', 'Maoken Assorted Sans';
    position: absolute;
    right: 150px;
    top: 33px;
    font-size: 44px;
    transition: ease-in-out 500ms;
    text-align: right;
    color: #F2A1A1;
}

#blue-points {
    position: absolute;
    left: 148px;
    top: 85px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 4px;
    gap: 3px;
    transition: 300ms ease-out;
}

#red-points {
    position: absolute;
    right: 148px;
    top: 85px;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    padding: 4px;
    gap: 3px;
    transition: 300ms ease-out;
}

.star-b {
    z-index: 100;
    width: 27px;
    height: 27px;
    transition: 200ms ease;
    border-radius: 10px;
}

.star-r {
    z-index: 100;
    width: 27px;
    height: 27px;
    background-color: none;
    transition: 200ms ease;
    border-radius: 10px;
}

#blue-flag {
    opacity: 1s;
    position: absolute;
    width: 85px;
    height: 85px;
    left: 40px;
    top: 33px;
    border-radius: 6px;
    outline: 3px solid var(--red);
    outline-offset: 4px;
}

#red-flag {
    opacity: 1;
    position: absolute;
    width: 85px;
    height: 85px;
    right: 40px;
    top: 33px;
    border-radius: 6px;
    outline: 3px solid var(--blue);
    outline-offset: 4px;
}

.seed {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Eras Bold ITC';
    font-size: 25px;
    color: white;
}