@font-face {
	font-family: 'Saira';
	src: url('../_data/fonts/Saira-Medium.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Saira';
	src: url('../_data/fonts/Saira-Bold.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Saira';
	src: url('../_data/fonts/Saira-Black.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'OleoScript';
	src: url('../_data/fonts/OleoScript-Regular.ttf');
    font-weight: 400;
}

@font-face {
	font-family: 'OleoScript';
	src: url('../_data/fonts/OleoScript-Bold.ttf');
    font-weight: 700;
}

@font-face {
	font-family: 'TP Sans';
	src: url('../_data/fonts/TaipeiSansTCBeta-Bold.ttf');
	unicode-range: U+4E00-9FFF; /*中文*/
	font-weight: 700;
}

@font-face {
	font-family: 'TP Sans';
	src: url('../_data/fonts/Saira-Bold.ttf');
	font-weight: 700; /*English or others*/
}

#background-video {
	width: 1920px;
	height: 1080px;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

:root {
	--highlight: #ACBBDA;
	--highlight-light: #C0CAE3;
    --red: #ffa5a5;
	--blue: #a0bbff;
}

body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Saira';
}

#main {
	width: 1920px;
	height: 1080px;
	position: relative;
	background-image: url('../_data/assets/stream-winner.png');
}

#header {
	width: 1920px;
	height: 100px;
	opacity: 100%;
	letter-spacing: 1px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--highlight);
}

#full-overlay {
	width: 1920px;
	height: 1080px;
	background-size: cover;
}

#stage-name {
	font-family: 'OleoScript';
	position: absolute;
	top: 280px;
	left: 90px;
	color: var(--highlight);
	font-size: 38px;
	font-weight: bold;
	letter-spacing: 2px;
}

#container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

#victory {
	font-family: 'OleoScript';
	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	font-size: 120px;
}

#score-row {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#score-red-container {
	height: 40px;
	width: 80px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 24px;
	color: var(--highlight-light);
}

#score-red {
	font-size: 72px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#score-blue-container {
	height: 40px;
	width: 80px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 24px;
	color: var(--highlight-light);
}

#score-blue {
	font-size: 72px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#versus {
	width: 100px;
	color: #ffffff;
	font-size: 32px;
	height: 42px;
	opacity: 0.6;
	text-align: center;
}

#flag-red {
	width: 70px;
	height: 70px;
}

#flag-blue {
	width: 70px;
	height: 70px;
}

#team-row {
	width: 100%;
	font-family: 'TP Sans';
	text-align: center;
	color: #ffffff;
	margin-top: 20px;
	font-size: 64px;
	color: var(--highlight);
}

#title {
	position: absolute;
	color: var(--highlight);
	bottom: 32px;
	left: 36px;
	text-align: left;
	/*text-transform: uppercase;*/
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 22px;
}

#note {
	margin-right: 6px;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 0px;
	visibility: 0;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 25px;
	margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}